{% include base_path %}
{% assign publication = include.publication %}
<article class="{% if include.compact %}recent-work{% else %}publication-entry{% endif %}" itemscope itemtype="https://schema.org/ScholarlyArticle">
  <h3 class="{% if include.compact %}recent-work__title{% else %}publication-entry__title{% endif %}" itemprop="headline">
    <a href="{{ base_path }}{{ publication.url }}">{{ publication.title }}</a>
  </h3>
  {% unless include.compact %}
    <p class="publication-entry__authors" itemprop="author">{{ publication.authors }}</p>
  {% endunless %}
  <p class="{% if include.compact %}recent-work__meta{% else %}publication-entry__venue{% endif %}"><i>{{ publication.venue }}</i>, {{ publication.date | date: "%Y" }}</p>
  {% if publication.note %}<p class="publication-entry__note">{{ publication.note }}</p>{% endif %}
  {% include publication-links.html publication=publication compact=include.compact %}
  {% unless include.compact %}
    {% if publication.abstract %}
      <details class="publication-abstract">
        <summary class="btn btn--small btn--inverse">Abstract</summary>
        <div class="publication-abstract__content" itemprop="abstract">{{ publication.abstract | markdownify }}</div>
      </details>
    {% endif %}
  {% endunless %}
</article>
